.topMenu {
    position: fixed;
    width: 100%;
    height: 80px;
    /* background-color: yellow; */
    padding-top: 15px;
}

.topMenu_container {
    width: 100%;
    height: 50px;
    /* background-color: wheat; */
    padding: 0px 50px;
}

.topMenu_container > * {
    float: left;
}

#topMenu_logo {
    width: auto;
    height: 50px;
    margin-right: 50px;
}

.topMenu_menu {
    padding-top: 10px
}

.topMenu_menu a {
    font-size: medium;
    color: white;
    margin-right: 20px;
}

.topMenu_etc {
    float: right;
    padding-top: 10px
}

.topMenu_etc span {
    font-size: medium;
    color: white;
    margin-left: 20px;
}